{% if is_granted('ROLE_USER') %}
    <div id="cms-bar" class="fixed-bottom d-flex justify-content-evenly {{ styles.bar | default('p-1 bg-light bg-gradient bg-opacity-75') }}">
        <div>
            <span class="badge {{ styles.badge | default('bg-secondary') }}"> <i class="bi bi-person"></i> {{ app.user.email }}</span>
            <a role="button" href="{{ path('cms_security_logout') }}" class="btn btn-secondary btn-sm"><i class="bi bi-box-arrow-right"></i> Log out</a>
        </div>
        <div>
            {% if is_granted('ROLE_EDITOR') %}
                {% if cms.editMode | default(false) %}
                    <button disabled id="cms-save-button" type="button" class="btn btn-primary btn-sm" ><i class="bi bi-send"></i> Save changes</button>
                    {% if cms.appUrl %}
                        <a id="cms-cancel-button" role="button" href="{{ cms.appUrl }}" class="btn btn-secondary btn-sm mx-2"><i class="bi bi-x"></i> Close</a>
                    {% endif %}
                    {{ encore_entry_script_tags('scripts/cms') }}
                {% else %}
                    {% if cms.cmsUrl %}
                        <a role="button" href="{{ cms.cmsUrl }}" class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i> Edit</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
