{% if is_granted('ROLE_USER') %}
    <div class="fixed-bottom p-1 bg-light bg-gradient bg-opacity-75 d-flex justify-content-evenly">
        <div>
            <span class="badge bg-secondary"> <i class="bi bi-person"></i> {{ app.user.email }}</span>
            <a role="button" href="{{ path('cms_security_logout') }}" class="btn btn-secondary btn-sm"><i class="bi bi-box-arrow-right"></i> Log out</a>
        </div>
        <div>
        {% if editMode | default(false) %}
            <button disabled id="save-button" type="button" class="btn btn-success btn-sm"><i class="bi bi-check-lg"></i> Save changes</button>
            <a role="button" href="{{ appLink }}" class="btn btn-secondary btn-sm"><i class="bi bi-x"></i> Close</a>
            {{ encore_entry_script_tags('scripts/cms') }}
        {% else %}
            {% if cmsLink is defined %}
                <a role="button" href="{{ cmsLink }}" class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i> Edit</a>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endif %}
