<section class="cms-article-list">
    <form method="get" action="{{ path('cms_articles') }}" class="text-center mb-4">
        <input type="hidden" name="_ref" value="{{ app.request.query.get('_ref') }}">
        <div class="d-flex justify-content-between">
            <div>
                <a class="btn btn-sm btn-primary" href="{{ path('cms_article_new', { ref: app.request.requesturi }) }}"><i class="bi bi-plus-square"></i> Create new article</a>
            </div>
            <div class="row g-3 align-items-center justify-content-end w-75">
                <div class="col-auto">
                    <select name="type" class="form-select form-select-sm">
                        <option value="" {% if not selectedType %}selected{% endif %}>All types</option>
                        {% for type in types %}
                            <option value="{{ type.value }}" {% if selectedType == type %}selected{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <input type="text" id="cmsArticlesSearch" class="form-control form-control-sm" name="query" value="{{ searchQuery }}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary btn-sm" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <hr />

    <div class="cms-articles">
        {% set empty = true %}
        {% for article in articles %}
            {% set empty = false %}
            <div class="row cms-article">
                <div class="col-8 d-flex flex-column justify-content-between">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ article.author.name }}</strong>
                                <span class="ms-3">{{ article.createdAt | date }}</span>
                            </div>
                            <div>
                                <a class="btn btn-sm btn-secondary" href="{{ path('cms_article_edit', { id: article.id, ref: app.request.requesturi }) }}" title="Edit article">Edit</a>
                            </div>
                        </div>
                        <a href="{{ path('cms_article', { id: article.id, name: article.name, ref: app.request.requesturi }) }}" title="Article">
                            <h2 class="mt-3">{{ article.title | raw }}</h2>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong>{{ article.type.name }}</strong>
                            {% if article.tags is not empty %}|{% endif %}
                            {% for tag in article.tags %}
                                <a href="{{ path('cms_articles', { tag: tag.value, _ref: app.request.query.get('_ref') }) }}"><em>{{ tag.label }}</em></a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            {% if article.startAt %}
                                Start at: <u>{{ article.startAt | date }}</u>
                            {% endif %}
                            {% if article.endAt %}
                            | End at: <u>{{ article.endAt | date }}</u>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {% if article.image %}
                        <div class="ratio ratio-21x9">
                            {{ img(article.image, 350, 150, article.title) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr />
        {% endfor %}
        {% if empty %}
            <h2 class="text-center"><span class="badge bg-primary">Nothing found</span></h2>
        {% endif %}
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% for i in 1..pages %}
                <li class="page-item {% if currentPage == i %}active{% endif %}">
                    {% if currentPage == i %}
                        <span class="page-link">{{ i }}</span>
                    {% else %}
                        <a class="page-link" href="{{ path('cms_articles', app.request.query.all | merge({ page: i })) }}">{{ i }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>