<section class="cms-article-details">
{#    <form method="get" action="{{ path('cms_articles') }}" class="text-center mb-4">#}
{#        <div class="d-flex justify-content-between">#}
{#            <div>#}
{#                <a class="btn btn-sm btn-primary" href="{{ path('cms_article_edit') }}">Create new article</a>#}
{#            </div>#}
{#            <div class="row g-3 align-items-center justify-content-end w-75">#}
{#                <div class="col-auto w-50">#}
{#                    <input type="text" id="cmsArticlesSearch" class="form-control form-control-sm" name="query" value="{{ query }}">#}
{#                </div>#}
{#                <div class="col-auto">#}
{#                    <input class="btn btn-secondary btn-sm" type="submit" value="Search">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}

    <div class="cms-article w-75 mx-auto">
        <div class="d-flex justify-content-between">
            <div>
                <strong>{{ article.author.name }}</strong>
                <span class="ms-3">{{ article.createdAt | date }}</span>
            </div>
            <div>
                Updated at: <span>{{ article.updatedAt | date }}</span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <strong>{{ article.type.name }}</strong>
                {% if article.tags is not empty %}|{% endif %}
                {% for tag in article.tags %}
                    <em>{{ tag.label }}</em>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
            <div>
                {% if article.startAt %}
                    Start at: <u>{{ article.startAt | date }}</u>
                {% endif %}
                {% if article.endAt %}
                    | End at: <u>{{ article.endAt | date }}</u>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-sm btn-secondary me-2" href="{{ path('cms_article_edit', { id: article.id }) }}"><i class="bi bi-pencil"></i> Edit</a>
            <button type="submit" class="cms-delete-button btn btn-sm btn-danger ms-2"
                    data-action="{{ path('cms_article_delete', { id: article.id }) }}" data-ref="{{ path('cms_articles') }}"">
                <i class="bi bi-x-square"></i> Delete
            </button>
        </div>
        <hr />
        <h2 class="mt-3">{{ article.title | raw }}</h2>
        {% if article.image %}
            <div class="my-5">
                <img class="w-100" src="{{ article.image }}" />
            </div>
        {% endif %}
        <div>
            {{ article.content | raw }}
        </div>
    </div>
</section>